<!doctype html>
<html>
<%- include('../../partials/header', {title: 'Update a User'}); %>

<body>
    <% include ../../partials/navbar %>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Update a User</h1>

     
            <form action="/settings/users/update" method="post">
                <input type="hidden" name="id" value="<%= data._id %>"/>
                <div class="form-group">
                    <label>Email</label>
                    <input required type="text" class="form-control" name="email" value="<%= data.email %>">
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input required type="text" class="form-control" name="firstName" value="<%= data.firstName %>">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input required type="text" class="form-control" name="lastName" value="<%= data.lastName %>">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <input required type="text" class="form-control" name="role" value="<%= data.role %>">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Update</button>
            </form>

        </div>
    </div>
    <% include ../../partials/scripts %>
</body>

</html>